<ul class="client-ul"  id="client">

  <li class="client-icon uniqlo" >
    <img src="assets/clients/uniqlo.svg" alt="">
  </li>

  <li class="client-icon dior" >
    <img src="assets/clients/dior.svg" alt="">
  </li>

  <li class="client-icon moncler">
    <img src="assets/clients/moncler.svg" alt="">
  </li>

  <li class="client-icon beats">
    <img src="assets/clients/beats.svg" alt="">
  </li>

  <li class="client-icon nike">
    <img src="assets/clients/nike.svg" alt="">
  </li>

  <li class="client-icon budweiser" >
    <img src="assets/clients/budweiser.svg" alt="">
  </li>

  <li class="client-icon brooklynmuseum">
    <img src="assets/clients/brooklynmuseum.svg" alt="">
  </li>

  <li class="client-icon hypebeast">
    <img src="assets/clients/hypebeast.svg" alt="">
  </li>

  <li class="client-icon stoneisland">
    <img src="assets/clients/stoneisland.svg" alt="">
  </li>



</ul>
