
<div class="home-section-single-whatwedo">
  <table class="section-table"><tr><td>
    <h1 class="section-h1">What We Do:</h1>


    <ul class="table-ul">

              <li class="table-li">
                <h2 class="table-h2">Strategy</h2>
                <p>
                Brand Positioning</br>
                Concept Development</br>
                Market Strategy</br>
                Channel Strategy
                </p>
              </li>



              <li class="table-li">
                <h2 class="table-h2">Creative</h2>
                <p>Creative Direction</br>Art Direction</br>Design</br>Brand Identity</br>Copywriting</p>
              </li>
              <li class="table-li">
                <h2 class="table-h2">Social Media</h2>
                <p>Content Creation</br>Channel & Community Management</br>Paid Media & Non Media Growth</br>Influencer Placement & Partnerships</p>
              </li>

              <li class="table-li">
                <h2 class="table-h2">Production</h2>
                <p>Photography</br>Film</br>Pop Ups</br>Events</p>
              </li>

              <li class="table-li">
                <h2 class="table-h2">Events</h2>
                <p>Experience Development</br>Location Scouting</br>Promotion/PR</br>Audience Curation</br>Production</br>Recap Content</p>
              </li>

              <li class="table-li">
                <h2 class="table-h2">Talent</h2>
                <p>Procurement</br>Attendance</br>Collaborations</br>Concerts</br>Hosted Events</p>
              </li>
        </ul>

      </td></tr></table>



</div>
